*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    background-color: #333;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

._container {
    /* max-width: 100%; */
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 20px;
}

.parallax {
    min-height: 100vh;
}

.parallax__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.parallax__container {
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.parallax__title {
    font-size: 50px;
    letter-spacing: 10px;
}

.parallax__images {
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    z-index: 1;
}

.images-parallax__item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.images-parallax__clouds,
.images-parallax__city,
.images-parallax__house {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.images-parallax__clouds {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images-parallax__city {
    background: url("../img/city.png") top / cover no-repeat;
    bottom: 10%;
    z-index: 2;
}

.images-parallax__house {
    background: url("../img/house.svg") top / cover no-repeat;
    top: 20%;
    z-index: 3;
}

.content {
    background-color: #333;
    position: relative;
    z-index: 2;
}

.content::before {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    transform: translate(0px, -100%);
    /* background: linear-gradient(180deg, rgba(11, 29, 38, 0) 5%, #0b1d26 100%); */
}

.content__title {
    font-size: 35px;
    margin-bottom: 30px;
}

.content__text {
    font-size: 16px;
    line-height: 150%;
}